<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"/>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/addbutton.js}"></script>


    <link th:href="@{/css/custom.css}" href="../static/css/custom.css" rel="stylesheet" media="screen"/>
    <title>Pick up your basket</title>
</head>
<body>

<div class="container">
    <h2>Your Basket</h2>
    <form class="form-horizontal" action="#" th:object="${basketForm}" th:action="@{/basketform}" method="post">
        <div class="form-group" th:class="form-group">
            <label class="col-sm-2 control-label">List Title:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="listTitle" id="listTitle" th:field="*{listTitle}"/>
                <div class="row">
                    <h4>Shopping Center</h4>
                    <div class="col-sm-10">
                        <label class="col-sm-2 control-label">Code:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="code" id="code"
                                   th:field="*{shoppingCenter.code}"/>
                        </div>

                        <label class="col-sm-2 control-label">Given Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="givenName" id="givenName"
                                   th:field="*{shoppingCenter.givenName}"/>
                        </div>
                        <label class="col-sm-2 control-label">Official Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="officialname" id="officialname"
                                   th:field="*{shoppingCenter.officialname}"/>
                        </div>
                        <label class="col-sm-2 control-label">Address:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="address" id="address"
                                   th:field="*{shoppingCenter.address}"/>
                        </div>
                        <label class="col-sm-2 control-label">Tel Number:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="telNumber" id="telNumber"
                                   th:field="*{shoppingCenter.telNumber}"/>
                        </div>
                        <label class="col-sm-2 control-label">Open Dates:</label>
                        <div class="col-sm-10">
                            <div class="input_fields_wrap">
                                <div><input type="text" class="form-control" name="mytext[]" id="opendays"
                                            th:field="*{shoppingCenter.datesOpen}"/></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <fieldset>
                            <legend th:text="#{category.list}">Categories:</legend>
                            <div>
                                <table>
                                    <thead>
                                    <tr>
                                        <th th:text="#{category.givenName}"></th>
                                        <th th:text="#{category.officialName}"></th>
                                        <th th:text="#{category.itemList}"></th>
                                        <th>
                                            <button type="submit" name="addCategory" th:text="#{category.row.add}">ADD New Category</button>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="category,catIndex : *{categoryInList}">
                                        <td>
                                            <input type="text" th:field="*{categoryInList[__${catIndex.index}__].givenName}"/>
                                        </td>
                                        <td>
                                            <input type="text" th:field="*{categoryInList[__${catIndex.index}__].officialName}">
                                        </td>
                                        <td>
                                            <table>
                                                <thead>
                                                <tr>
                                                    <th th:text="#{item.givenname}"></th>
                                                    <th th:text="#{item.code}"></th>
                                                    <th th:text="#{item.barcoe}"></th>
                                                    <th th:text="#{item.description}"></th>
                                                    <th th:text="#{item.price}"></th>
                                                    <th>
                                                        <button type="submit" name="addItem" th:value="${catIndex.index}" th:text="#{item.add.row}">Add New Item</button>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="item, itemIndex: ${category.itemsList}" th:name="itemCat" th:field="${catIndex.index}">
                                                    <td>
                                                        <input type="text" th:field="*{categoryInList[__${catIndex.index}__].itemsList[__${itemIndex.index}__].itemGivenName}">
                                                    </td>
                                                    <td>
                                                        <input type="text" th:field="*{categoryInList[__${catIndex.index}__].itemsList[__${itemIndex.index}__].itemCode}">
                                                    </td>
                                                    <td>
                                                        <input type="text" th:field="*{categoryInList[__${catIndex.index}__].itemsList[__${itemIndex.index}__].itemBarcode}">
                                                    </td>
                                                    <td>
                                                        <input type="text" th:field="*{categoryInList[__${catIndex.index}__].itemsList[__${itemIndex.index}__].itemDescription}">
                                                    </td>
                                                    <td>
                                                        <input type="text" th:field="*{categoryInList[__${catIndex.index}__].itemsList[__${itemIndex.index}__].itemPrice}">
                                                    </td>
                                                    <td>
                                                        <!--<p th:text="${item.itemPrice}"/>-->
                                                        <!--<p th:text="${category.givenName}"/>-->
                                                        <!--<button type="submit" name="removeItem" th:value="*{categoryInList[__${catIndex.index}__].itemsList[__${itemIndex.index}__]}" th:text="#{item.remove.row}"></button>-->
                                                        <!--<button type="submit" name="removeItem" th:value="${itemIndex.index}" th:text="#{item.remove.row}"></button>-->
                                                        <a th:text="#{item.remove.row}" th:href="@{/basketform/{categoryIndex}/{itemIndex}(categoryIndex = ${catIndex.index}, itemIndex = ${itemIndex.index})}">Remove This Item</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td>
                                            <button type="submit" name="removeCategory" th:value="${catIndex.index}" th:text="#{category.row.remove}">Remove the Category</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>

</body>
</html>